.blog 
{
background-image: url("img/blog_background.jpg");
}
h2  
    {
        font-size: 20px;
        text-align: center;
        font-family: 'Permanent Marker'; 
        color: #e7272d;
    }
.blog__headline
    {
        font-size: 56px;
        text-align: center;
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
    }
.blog__subheadline
    {
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-weight: 700;
    }
.blog__flaunt__magazine__card 
    {
        display: grid;
        grid-template-columns: 30%;
        grid-column-gap: 10px;
    }

.blog__conde__card 
    {
        display: grid;
        grid-template-columns: 30%;
        grid-column-gap: 10px;
    }
